{{#parcial "contenido"}}

<!-- PARTE DE EDITAR PERFIL -->
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" target="_blank">
            <img src="images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">¿Que PasApp?</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/home">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Menú principal</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/editar">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Mi perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/comunidades">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Mis comunidades</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/comunidades/unirse">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Unirse a comunidad</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/incidentes/sugerencias">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Incidentes cercanos</span>
                </a>
            </li>
            {{#if permisoCSV}}
                <li class="nav-item">
                    <a class="nav-link " href="/cargadatos">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Cargar datos entidades</span>
                    </a>
                </li>
            {{/if}}
            {{#if permisoRankings}}
                <li class="nav-item">
                    <a class="nav-link " href="/rankings">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Ver rankings de entidades</span>
                    </a>
                </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link " href="/logout">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-collection text-info text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<div class="main-content position-relative border-radius-lg card">
    <div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-3 borde redondeado mt-4">
                    <h2 class="text-center">Editar perfil</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 borde redondeado mt-4">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-5 m-4 borde redondeado p-3">
                            <div class="row ps-5 pe-5 p-1">
                                <h3 class="text-center borde redondeado">Usuario</h3>
                            </div>
                            <form method="POST">
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <input class="form-control mr-sm-2" placeholder="Nombre de usuario"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control mr-sm-2" placeholder="Contraseña"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control mr-sm-2" placeholder="Mail"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control mr-sm-2" placeholder="Teléfono"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control mr-sm-2" placeholder="Localización"></input>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-md-5 m-4 borde redondeado p-3">
                            <div class="row pe-3 ps-3 p-1">
                                <h3 class="text-center borde redondeado">Notificaciones</h3>
                            </div>

                            <form method="post">
                                <div class="row mt-2 pe-3 ps-3">
                                    <div class="form-group">
                                        <label for="medioSelect">Medio:</label>
                                        <select class="form-control" id="medioSelect">
                                            <option value="1">WhatsApp</option>
                                            <option value="2">Mail</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <form method="id">
                                <div class="row mt-2 pe-3 ps-3">
                                    <div class="form-group">
                                        <label for="medioSelect">Modo:</label>
                                        <select class="form-control" id="modoSelect">
                                            <option value="1">Sincrónico</option>
                                            <option value="2">Asincrónico</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-12 mt-3 d-flex justify-content-center align-items-center">
                                    <button><a href="/index">Guardar cambios </a> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{/parcial}}
{{> templates/base }}