{{#partial "contenido" }}
<div class = "container-fluid">
    <div class="row">
        <!-- Parte de la izquierda -->
        <div class="col-md-6">
            <div class="row h-100 align-items-center">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                <div class="container">
                    <div class="row justify-text-center">
                        <div class="col-md-12 text-center">
                            <h1 class="borde redondeado">Que PasApp?</h1>
                        </div>
                    </div>
                    <form method="POST" action = "/">
                        <div>
                            <label for="usuario">Usuario:</label>
                            <input type="usuario" id="email" name="usuario" required>
                        </div>
                        <div>
                            <label for="contrasenia">Contraseña: </label>
                            <input type = "password" id="contrasenia" name="contrasenia" rows="4" required></input>
                        </div>
                        <button action="/home/{id}" type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                    <a href="/signup">Registrarse</a>

                    {{#if error}}
                        <div class="row alert">
                            <h5>Sus credenciales son incorrectas. Intente nuevamente.</h5>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>

        <!-- Parte de la derecha -->
        <div class="col-md-6">
            <iframe width="600" height="450" style="border:0" Loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-34.5986%2C-58.4201&key=AIzaSyDBJD6fpJEj8pV7pB9QHKd7f8LnjbWexy0"></iframe>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/base }}