{{#partial "contenido" }}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 borde redondeado p-4">
            <div class="row p-4">
                <div class="borde redondeado d-flex justify-content-center p-2">
                    <h1>Servicios de Interés</h1>
                </div>
            </div>
            <div class="row ps-4 pe-4">
                <div class="borde redondeado mt-5">
                    <select class="form-control">
                        <option>Baños</option>
                        <option>Escaleras mecánicas</option>
                        <option>Ascensor</option>
                    </select>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-3 borde redondeado d-flex justify-content-center mt-3">
                    <a href="/index" class="btn">Registrarse</a>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
{{/partial}}
{{> templates/baseConNavegador }}