{{#partial "contenido" }}

<!-- PARTE DE CIERRE DE INCIDENTES -->
<div>
    <div class="row justify-text-center mt-4">
        <div class="col-md-12 text-center ">
            <h1>Cierre de Incidente </h1>
        </div>
    </div>

    <div> <!-- Parte del medio -->
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="tall-container incidentes">
                    <div class="row borde redondeado m-3 p-2 ">
                        <div class="col-md-4 d-flex align-items-center justify-content-center borde redondeado me-3 ms-3 p-3">
                            <h5 class="text-center">Establecimiento</h5>
                        </div>
                        <div class="col-md-3 me-3 d-flex align-items-center justify-content-center borde redondeado">
                            <h5 class=" text-center">Servicio</h5>
                        </div>
                        <div class="col-md-2  me-2 d-flex align-items-center justify-content-center borde redondeado">
                            <h5 class="text-center">Ubicación</h5>
                        </div>
                        <div class="col-md-2  me-2 d-flex align-items-center justify-content-center borde redondeado">
                            <h5 class="text-center">Estado</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">  <!-- Parte del final -->
    <div class="col-md-12">
        <div class="row d-flex align-items-center">
            <div class="col-md-8 offset-2">
                    <div class="row justify-text-center">
                        <div class="col-md-12 text-center mt-3">
                            <h3>¿Se resolvió el incidente?</h3>
                        </div>
                    </div>

                <form method="post">
                    <div class="row d-flex align-items-center justify-content-center mt-1">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <select id="menu" name="menu" class="form-select">
                                <option value="si" href="menuPrincipal.html" class="btn borde redondeado">Sí</option>
                                <option value="no" href="menuPrincipal.html" class="btn borde redondeado">No</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/baseConNavegador }}