{{#partial "contenido" }}
    <div class="container mt-15">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {{#each comunidades}}
                        <div class="col">
                            <div class="card">
                                <!-- Puedes incluir una imagen aquí: <img src="URL_DE_LA_IMAGEN" class="card-img-top" alt="..."> -->
                                <div class="card-body">
                                    <h5 class="card-title"><a href="comunidades/{{this.id}}">{{this.nombre}}</a></h5>
                                    <p class="card-text">{{this.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-5 d-flex justify-content-center mt-3">
                        <a href="/comunidades/unirse" class="btn btn-primary">Unirte a una comunidad</a>
                        {{#if permisoCreacion}}
                            <a href="/comunidades/crear" class="btn btn-success">Crear</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reportSuccessModal" tabindex="-1" aria-labelledby="reportSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportSuccessModalLabel">Creación exitosa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¡Te has unido a una comunidad con éxito!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnAceptarModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script>


{{/partial}}
{{> templates/baseConNavegador }}
