{{#partial "contenido" }}
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" target="_blank">
                <img src="images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">¿Que PasApp?</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Menú principal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/editar">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Mi perfil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/comunidades">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Mis comunidades</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/comunidades/unirse">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Unirse a comunidad</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/incidentes/sugerencias">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Incidentes cercanos</span>
                    </a>
                </li>
                {{#if permisoCSV}}
                    <li class="nav-item">
                        <a class="nav-link " href="/cargadatos">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Cargar datos entidades</span>
                        </a>
                    </li>
                {{/if}}
                {{#if permisoRankings}}
                    <li class="nav-item">
                        <a class="nav-link " href="/rankings">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Ver rankings de entidades</span>
                        </a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link " href="/logout">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-collection text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="main-content position-relative border-radius-lg card">
        <div class="container mt-15">
            <div class="row justify-content-center">
                <div class="col-md-12 borde redondeado p-4">
                    <div class="row p-4">
                        <div class="borde redondeado d-flex justify-content-center p-2">
                            <h1>Crear comunidad</h1>
                        </div>
                    </div>
                    <form method="POST" action="/comunidades/crear">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="nombre">Nombre nueva comunidad:</label>
                                <input name = "nombre" class="form-control mr-sm-2" placeholder="Nombre de nueva comunidad" required></input>
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="descripcion">Descripción nueva comunidad:</label>
                                <input name = "descripcion" class="form-control mr-sm-2" placeholder="Descripcion nueva comunidad" required></input>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{#each servicios}}
                                    <label for="servicio{{@index}}">{{this}}</label>
                                    <input type="checkbox" id="servicio{{@index}}" name="servicios" value="{{this}}">
                                {{/each}}
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-3 borde redondeado d-flex justify-content-center mt-3">
                                <button class="btn btn-primary" name="crearComunidad" type="submit">Unirse</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="reportSuccessModal" tabindex="-1" aria-labelledby="reportSuccessModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reportSuccessModalLabel">Creación exitosa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¡Has creado una comunidad con éxito!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnAceptarModal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

        document.querySelector('form').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de inmediato

            // Realizar una llamada AJAX para enviar los datos al servidor
            fetch('/comunidades/crear', {
                method: 'POST',
                body: new FormData(e.target) // Enviar los datos del formulario
            })
                    .then(response => {
                        if (response.ok) {
                            // Si la operación se completó con éxito, muestra el modal de éxito
                            var reportSuccessModal = new bootstrap.Modal(document.getElementById('reportSuccessModal'));
                            reportSuccessModal.show();

                            // Agregar un manejador de eventos al botón "Aceptar" en el modal
                            document.getElementById('btnAceptarModal').addEventListener('click', function () {
                                // Redirigir a "/home"
                                window.location.href = "/home";
                            });
                        } else {
                            // Manejar errores si la operación no fue exitosa
                            console.error('Error al enviar el formulario');
                        }
                    })
                    .catch(error => {
                        console.error('Error de red al enviar el formulario', error);
                    });
        });


    </script>

{{/partial}}
{{> templates/base }}