{{#partial "contenido" }}

<!-- PARTE DEL REGISTRO -->
<div>
    <div class="row">
        <h1>  </h1> <!-- Este es un espacio -->
        <h1 class="col-md-12 text-center"> Editar Perfil </h1>
    </div>
</div>

<div class = "container-fluid">
    <div class="row">
        <!-- Parte de la izquierda -->
        <div class="col-md-6">
            <div class="row h-100 align-items-center">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="row justify-text-center">
                            <div class="col-md-12 text-center">
                                <h3>USUARIO</h3>
                            </div>
                        </div>
                        <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control mr-sm-2" placeholder="Nombre de usuario"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control mr-sm-2" placeholder="Contraseña"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control mr-sm-2" placeholder="Mail"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control mr-sm-2" placeholder="Teléfono"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control mr-sm-2" placeholder="Localización"></input>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parte de la derecha -->
        <div class="col-md-6">
            <div class="row h-100 align-items-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="row justify-text-center">
                            <div class="col-md-12 text-center">
                                <h3>NOTIFICACIÓN</h3>
                            </div>
                        </div>
                        <form method="post">
                        <div class="row">
                                <div class="form-group">
                                    <label for="medioSelect">Medio</label>
                                    <select class="form-control" id="medioSelect">
                                        <option value="1">WhatsApp</option>
                                        <option value="2">Mail</option>
                                    </select>
                                </div>
                        </div>
                        </form>
                        <form method="post">
                            <div class="form-group">
                                <label for="medioSelect">Modo:</label>
                                <select class="form-control" id="modoSelect">
                                    <option value="1">Sincrónico</option>
                                    <option value="2">Asincrónico</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <button><a href="/servicios">SELECCIONAR SERVICIOS DE INTERES</a>  </button>
    </div>
</div>

{{/partial}}
{{> templates/baseConNavegador }}