{{#partial "contenido" }}
<div class="container-fluid">
    <div class="row mt-5 ml-3 p-3">
        <div class="col-3 borde">
            <div class="row borde redondeado m-2">
                <div class="col-4 p-3 borde redondeado d-flex align-items-center justify-content-center">
                    <h3>Icono</h3>
                </div>
                <div class="col p-3 mb-6">
                    <h3><a href="/editar">Mi perfil</a></h3>
                </div>
            </div>
            <div class="row borde redondeado m-2 p-1">
                <h5><a href="incidentes/crear">Reportar incidente</a></h5>
            </div>
            <div class="row borde redondeado m-2 p-1">
                <h5><a href="/comunidades">Tus comunidades</a></h5>
            </div>
            <div class="row borde redondeado m-2 p-1">
                <h5>Unirte a comunidad</h5>
            </div>
        </div>
        <div class="col-8 borde ml-3 mr-3">
            <div class="container mt-3">
                <div class="row">
                    <div class="m-2">
                        <h1>Incidentes</h1>
                    </div>
                </div>
                <form method="post">
                <div class="row borde redondeado m-2">
                    <div class="col-8">
                        <input placeholder="Buscar...">
                    </div>
                    <div class="col-4">
                        <input placeholder="Estado">
                    </div>
                </div>
                </form>
                {{#each incidentes}}
                <div class="row borde redondeado m-2">
                    <div class="col-md-4">
                        <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                            <h4>{{this.servicioAfectado.establecimiento.nombre}}</h4>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                            <h4>{{this.servicioAfectado.descripcion}}</h4>
                        </div>

                    </div>
                    <div class="col-2">
                        <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                            <h5>{{this.estado.estado}}</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                            <h5>Ubicación</h5>
                            <a href="incidentes/{{this.id}}/editar">Editar</a>
                        </div>

                </div>
                    {{/each}}

            </div>

        </div>
    </div>
</div>
{{/partial}}
{{> templates/base }}