{{#partial "contenido" }}

<!-- Resto del contenido de la página -->
<div class="container mt-3 borde">
    <div class="row">
        <div class="container ml-100 borde redondeado d-flex align-items-center justify-content-center">
            <h2>Rankings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ms-5 m-4">
            <div class="row borde">
                <div class="col">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col d-flex align-items-center justify-content-center m2">
                            <h4>RANKING 1</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 1</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 2</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4 ms-5 borde">
            <div class="row borde">
                <div class="col">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col d-flex align-items-center justify-content-center m2">
                            <h4>RANKING 2</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 1</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 2</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4 ms-5 borde">
            <div class="row borde">
                <div class="col">
                    <div class="row d-flex align-items-center justify-content-center m2">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h4>RANKING 3</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 1</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <h6>Nombre empresa 2</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/partial}}
{{> templates/baseConNavegador }}